
<form action="" method="post" >
    <div class="mb-3">
        <label for="new-psswd" class="form-label">New Password</label>
        <input type="text" name="new-psswd" id="new-psswd" class="form-control">
    </div>
    <div class="mb-3" style="display: flex;flex-direction: column;">
        <label for="re-psswd" class="form-label">Confirm Password</label>
        <input type="password" name="re-psswd" id="re-psswd" class="form-control">
    </div>
    <input type="submit" value="Reset" class="btn btn-primary">
</form>